/* None for now */

.text-primary {
	color: black;
	font-size: 2em;
}

.tertiary {
	color: rgb(100, 100, 100);
}

.center {
	text-align: center;
}

:root {
	--primary: #00437d;
	--brand: #a2274c; /* using brand rather than second/secondary because secondary is already a text type (lighter
    smaller text) and in this case, this color is certainly not secondary/depromoting, just one of two equal parts. */
	--white: #ffffff;
	--dark: #303030;
}

.button-icon {
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.75);
	border: none;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.button-icon-text {
	color: rgba(33, 33, 33, 0.65);
}

@media (min-width: 768px) {
	.horizontal-margin-on-medium-up {
		margin: 10vh 15vw;
	}
}
